---
layout: post
title: Categories
keywords: Categories, 分类
logo: <h2><span class="mega-octicon octicon-clippy"></span>&nbsp;&nbsp;Classify my articles</h2>
description: Classify my articles
menu: Categories
permalink: /categories
comments: false
---

<section class="container posts-content">
	{% assign sorted_categories = site.categories | sort %}
	{% for category in sorted_categories %}
		<h2 id="{{ category | first | slugify}}">{{ category | first }}</h2>
		<ol class="posts-list" >
		{% for post in category.last %}
			<li class="posts-list-item">
				<span class="posts-list-meta">{{ post.date | date:"%Y-%m-%d" }}</span>
				<a class="posts-list-name" href="{{ post.url }}">{{ post.title }}</a>
			</li>
		{% endfor %}
		</ol>
	{% endfor %}
</section>
<!-- /section.content -->