---
layout: default
comments: true
---
<section class="collection-head collection-head-scrolled geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="collection-title">
                    <h1 class="collection-header">{{ page.title }}</h1>
                    <div class="collection-info">
                        <span class="meta-info">
                            {% if page.logo %}
                                {{ page.logo }}
                            {% endif %}
                            {% if page.date %}
                                <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
                            {% endif %}
                        </span>
                        {% for cat in page.categories %}
                          <span class="meta-info">
                            <span class="octicon octicon-file-directory"></span>
                            <a href="/categories#{{ cat | slugify }}" title="{{ cat }}">{{ cat }}</a>
                          </span>
                        {% endfor %}
                        {% if page.tags %}
                        <span class="meta-info">
                            <span class="octicon octicon-tag"></span>
                            {% for tag in page.tags %}
                            <a href="/tags#{{ tag | slugify }}" title="{{ tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                            {% endfor %}
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
<section class="container content">
    <div class="columns">
        <div class="column three-fourths" >
            <article class="article-content markdown-body">
                {{ content }}
            </article>
            {% if page.share != false %}
            <div class="share">
                {% include sns-share.html %}
            </div>
            {% endif %}
            {% if page.comments != false %}
            <div class="comment">
                {% include comments.html %}
            </div>
            {% endif %}
        </div>
        <div class="column one-fourth">
            {% include sidebar-search.html %}
            {% include sidebar-post-nav.html %}
        </div>
    </div>
</section>
<!-- /section.content -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
tex2jax: {
  inlineMath: [['$','$'], ['\\(','\\)']]
  }
});
</script>
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
